*.leases
.nfs*
*.log
*.pid
*.ssh/
/tmp/*
*~
var/log/dmesg*
debug
syslog
var/log/boot
var/log/btmp
var/log/debug
var/log/dmesg*
var/log/faillog
var/log/fsck/
var/log/lastlog
var/log/mail.err
var/log/mail.info
var/log/mail.warn
var/log/messages
var/log/news/news.crit
var/log/news/news.err
var/log/news/news.notice
var/log/syslog
var/log/wtmp
etc/adjtime
proc/mounts
*.bash_history
var/run/*/pid
var/lib/urandom/random-seed
run/*
.npm/
.npm-debug.log
*.0
*.bak
wpa_supplicant.conf
root/.bash_history
run/utmp
home/build/*
var/lib/dpkg/info/*
var/cache/apt/archives/*
var/cache/man/*
***/*~backup*/
sdb1.img
